.main {
  margin-left: 20%;
}

.url {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 3px;
  text-align: center;
}
.map {
  float: left;
  width: 35%;
  margin-left: 10px;
  margin-bottom: 50px;
}
.inlineText {
  position: absolute;
  margin-top: 27%;
  height: 96px;
  width: 27.8%;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
  /* transition: all 1s linear; 
   animation: fade-in 1s;
  transition: display 2s ease-in-out; 
   transition: opacity 1s ease-out; 
  transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);  */
}
.url:hover .inlineText {
  display: block;
  /* transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955); */
  animation: fade-out 1s;
}
